.menu-container {
    background: url("/assets/images/common/background.webp");
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-variant-caps: all-small-caps;

    h1 {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 16px;
        color: rgb(221, 124, 173);
        text-align: center;
        width: 100%;
    }

    &__elements {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    @media (max-width: 1060px) {
        &__elements {
            flex-direction: column;

            a:nth-child(1) {
                order: 2;
            }

            a:nth-child(2) {
                order: 1;
            }

            a:nth-child(3) {
                order: 3;
            }
        }
    }
}