html body {
    margin: 0 !important;
    font-family: "Montserrat", sans-serif;
    font-variant-caps: all-small-caps;
}

.swiper-3d .swiper-slide-shadow-top,
.swiper-slide-shadow-bottom {
    background-image: none !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}